@font-face{
  font-family: Coco;
  src: url('font/Coco.otf');
}

body {
  font-family: Coco;
  color: white;
  margin: 0;
  font-size: 20px;
}

p {
  font-family: Helvetica;
}

h1 {
  font-size: 5em;
}

a {
  display: inline-block;
  text-decoration: none;
}

.main-container {
  min-height: 100vh;
  background-image: url('images/bkgd.jpg');
}

.container {
  margin: 20px;
}

.home {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.button {
  padding: 10px;
  border: 2px #45163b solid;
  border-radius: 5px;
  background-color: #77213c;
  color: white;
  font-family: Helvetica;
  box-sizing: border-box;
  cursor: pointer;

}

.col-50{
  width: 50%;
}

.col-100{
  width: 100%;
}

.center {
  margin: 0 auto;
}

nav {
  height: 4em;
  background-color: #431941;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  float: right;
  margin: 10px 10px 0 0;
  font-size: 0.8em;
}

nav p{
  font-size: 2em;
  text-align: left;
  display: inline;
  font-family: Coco;
}

nav a {
    color: white;
}

nav li:first-child {
  float: left;
}

@media (max-width: 1055px){
    nav p {
        font-size: 1.5em;
    }
}

@media(max-width: 900px){
    nav p {
        font-size: 1em;
    }
}
